/* You can add global styles to this file, and also import other style files */
@import "@tabler/icons-webfont/dist/tabler-icons.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  
  /* Fix for macOS Retina scaling - force 1:1 pixel ratio display */
  transform-origin: 0 0;
  -webkit-user-select: none;
  user-select: none;
}

/* Ensure content doesn't blur on Retina displays */
app-root {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
